<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Judo Vue</title>
</head>
<body>
    <div id="app">
        <button v-on:click="flipView">Flip view</button>

        <label for="belt">Belt</label>
        <select name="belt" v-model="selectedBelt">
            <option v-bind:value="null">All</option>
            <option v-for="b in beltNames" :key="b" v-bind:value="b">{{ b }}</option>
         </select>

        <span v-for="t in techniqueNames">
            <input type="checkbox" v-bind:id="t" v-bind:value="t" v-model="selectedTechniques">
            <label v-bind:for="t" :key="t">{{ t }}</label>
        </span>

        <p>Selected belt: {{ selectedBelt }}</p>
        <p>Checked names: {{ selectedTechniques }}</p>
        <p>Selected sort: {{ selectedSort }}</p>

        <div v-if="showCards">
            <div class="side-a">
                <p>Side A</p>
            </div>
            <div class="side-b">
                <p>Side B</p>
            </div>
        </div>

        <table v-if="showTable">
            <thead>
                <tr>
                    <!--<th v-for="header in headers">{{ header }}</th>-->
                    <th v-on:click="selectedSort='romaji'">Name</th>
                    <th v-on:click="selectedSort='technique'">Technique</th>
                    <th v-on:click="selectedSort='belt'">Belt</th>
                    <th v-on:click="selectedSort='youtube'">URL</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="tech in techniques" :key="tech.romaji">
                    <!--<td v-for="prop in tech">{{ prop }}</td>-->
                    <td>{{ tech.romaji }}</td>
                    <td>{{ tech.technique }}</td>
                    <td>{{ tech.belt }}</td>
                    <td><a v-bind:href="tech.youtube">YouTube</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="data.js"></script>
    <script src="app.js"></script>
</body>
</html>
