<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Flashcards for Judo Belt Ranking Techniques at Suginoharyu</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="container">
        <br />

        <div class="row">
            <div class="col">
                <judo-filter></judo-filter>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button v-on:click='flipView' class='btn btn-secondary'>{{ showCards ? "Show table" : "Show flip card" }}</button>
                <button v-on:click='pickCard' v-if="showCards" class='btn btn-primary'>Pick another card</button>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col">
                <judo-card v-if="showCards !== false"></judo-card>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <judo-table v-if="showCards !== true"></judo-table>
            </div>
        </div>
    </div>

    <footer class="footer text-muted">
      <div class="container">
        <p>Hacked together with love by <a href="http://johansson.jp" target="_blank">John-Philip "JP" Johansson</a>. The source code is available on <a href="https://github.com/seriema/judo" target="_blank">GitHub</a>.</p>
        <p>These techniques follow the belt ranking of <a href="http://www.suginoharyu.com/">Suginoharyu</a>. These will most likely not match your dojo if you train somewhere else.</p>
      </div>
    </footer>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="data.js"></script>
    <script src="store.js"></script>
    <script src="table.js"></script>
    <script src="card.js"></script>
    <script src="filter.js"></script>
    <script src="app.js"></script>
</body>
</html>
