.c-judo-card .video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%
}

.c-judo-card .video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.c-judo-card {
    border-width: 10px;
    border-radius: 1.25rem;
    height: 100%;
}
.c-judo-card.yellow {
    border-color: #FB1;
}
.c-judo-card.orange {
    border-color: #FA771E;
}
.c-judo-card.green {
    border-color: #1A5E25;
}
.c-judo-card.blue {
    border-color: #101CA7;
}
.c-judo-card.brown {
    border-color: #6A5720;
}
